.deps/
bin/
m4/

*.o
*~
*/*~
*/*/*~

configs/GiveConsole
configs/TakeConsole
configs/Xreset
configs/Xservers
configs/Xsession
configs/Xsetup_0
configs/Xstartup
configs/wdm-config

doc/wdm.man

po/*.gmo
po/*.mo
po/POTFILES
po/insert-header.sed
po/remove-potcdate.sed

po/Makefile
po/Makefile.in

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
missing
