.deps/
autom4te.cache/
bin/
m4/

.dirstamp

*~
*.o
*.sw?

configs/GiveConsole
configs/TakeConsole
configs/Xreset
configs/Xservers
configs/Xstartup
configs/wdm-config

doc/wdm.man

po/*.gmo
po/*.mo
po/POTFILES
po/insert-header.sed
po/remove-potcdate.sed

include/config.h
include/config.h.in
include/stamp-h1

INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
